@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

:root{
    --back-grapper: #111827e8;
    --font-grapper: #f3f4f6;
    --border-input: #0C4A6E;
    --border-focus: #0284C7;
    --border-hover: #075985;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

body{
    font-family: 'Nanum Gothic', sans-serif;
    color: var(--font-grapper);
    background-size: cover;
    background-position: center;
}


#grapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container{
    background-color: var(--back-grapper);
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 2px #000;
    min-width: 22.25rem;
    height: 20rem;
    justify-content: center;
    gap: 1rem;
    border: 2px solid var(--border-input);
    border-radius: 0.8rem;
}

.dateM,
.temp,
.windset,
.watH,
.minmax{
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    align-items: center;
}

.former{
    width: 21.3rem;
    position: relative;
    height: 2rem;
    transform: translate(0,-50%);
}


#searcher{
    position: absolute;
    top: 0;
    left: -0.1rem;
    width: calc(100% - 0.2rem);
    height: 100%;
    border-radius: 0.8rem;
    background-color: var(--back-grapper);
    color: var(--font-grapper);
    border: 2px solid var(--border-input);
    outline: none;
    padding: 0.2rem;
}

#searcher:hover{
    border-color: var(--border-hover);
}

#searcher:focus{
    border-color: var(--border-focus);
}

.labelSearcher{
    position: absolute;
    top: 0.62rem;
    left: 0.42rem;
    padding: 0 0.1rem;
    font-weight: 800;
    transition: top 200ms ease-in,
                left 200ms ease-in,
                font-size 200ms ease-in;
}

.moverLugar{
    top: -0.5rem;
    font-size: 0.8rem;
    left: 0.8rem
}

.topH{
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

#country{
    margin: 0;
    text-decoration: underline;
}

.fuente{
    font-size: 1rem;
}

@media screen and (max-width: 500px){
    .former{
        width: 18rem;
    }
    #container{
        min-width: 19rem;
        height: 18rem;
    }
    .fuente{
        font-size: 0.8rem;
    }
}
